<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">



    <!-- Css Styles -->

    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/signuplogin">Sign in</a>
                <!-- <a href="#">FAQs</a> -->
            </div>
            <div class="offcanvas__top__hover">
                <!-- <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul> -->
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div> -->
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <!-- <a href="#">Sign in</a>
                                <a href="#">FAQs</a> -->
                            </div>
                            <div class="header__top__hover">
                                <!-- <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <!-- <li><a href="./shop.ejs">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="active"><a href="./blog.html">Blog</a></li> -->
                            <li><a href="/contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="#"><img src="img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a> -->
                        <!-- <div class="price">$0.00</div> -->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <!-- <section class="breadcrumb-blog set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Sign Up</h2>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Breadcrumb Section End -->



    <!-- <%if(locals.type=="invalid user"){%>
            <div class="alert alert-danger text-centre">
                Invalid User Email or Password
                
            </div>
            <%}%> -->



    <br>
    <br>
    <!--start of login  -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                        <div class="col-lg-6 justify-content-center">
                            <img src="/img/admin image.avif" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create your account here </h1>
                                </div>

                                <%if(locals.type=="blocked"){%>
                                    <div class="alert alert-danger text-centre">
                                        your account is temporily denied access

                                    </div>
                                    <%}%>

                                        <%if(locals.type=="username rule"){%>
                                            <div class="alert alert-danger text-centre">
                                                Incorrect User name format.User Name should not have any special characters or spaces in between.

                                            </div>
                                            <%}%>
                                                <%if(locals.type=="email rule"){%>
                                                    <div class="alert alert-danger text-centre">
                                                        Enter correct email address

                                                    </div>
                                                    <%}%>
                                                        <%if(locals.type=="mobile number rule"){%>
                                                            <div class="alert alert-danger text-centre">
                                                                Mobile number should have 10 digits

                                                            </div>
                                                            <%}%>
                                                            <%if(locals.type=="incorrect referral"){%>
                                                                <div class="alert alert-danger text-centre">
                                                                    Incorrect Referral Code
    
                                                                </div>
                                                                <%}%>
                                                                <%if(locals.type=="password rule"){%>
                                                                    <div class="alert alert-danger text-centre">
                                                                        Password length must be atleast 8 characters.Ensure the use of a strong password.

                                                                    </div>
                                                                    <%}%>

                                                                        <%if(locals.type=="error"){%>
                                                                            <div class="alert alert-danger text-centre">
                                                                                Fill all the details to register!!!

                                                                            </div>
                                                                            <%}%>
                                                                                <form action="/signuplogin"
                                                                                    method="post">
                                                                                    <div
                                                                                        class="d-flex justify-content-center">
                                                                                        <label>
                                                                                            <span>Name</span>
                                                                                            <input required
                                                                                                name="username"
                                                                                                type="text" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div
                                                                                        class="d-flex justify-content-center">
                                                                                        <label>
                                                                                            <span>Email</span>
                                                                                            <input required
                                                                                                name="useremail"
                                                                                                type="email" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div
                                                                                        class="d-flex justify-content-center">
                                                                                        <label>
                                                                                            <span>Password</span>
                                                                                            <input name="userpassword"
                                                                                                required
                                                                                                type="password" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div
                                                                                        class="d-flex justify-content-center">
                                                                                        <label>
                                                                                            <span>Mobile Number</span>
                                                                                            <input required
                                                                                                name="usermobile"
                                                                                                type="number" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div
                                                                                        class="d-flex justify-content-center">
                                                                                        <label>
                                                                                            <span>Referral code(optional)</span>
                                                                                            <input 
                                                                                                name="referralcode"
                                                                                                type="text" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div
                                                                                        class="d-flex justify-content-center">
                                                                                        <button type="submit"
                                                                                            class="submit">Sign
                                                                                            Up</button>
                                                                                    </div>
                            </div>
                            </form>



                            <hr>
                            <!-- <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>



    <!-- end of login -->

    <script>
        document.querySelector('.img__btn').addEventListener('click', function () {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>









    <!-- <div class="container">
        <div class="row">
           <div class="col-lg-6">
                  
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log In</p>
      
            <form class="mx-1 mx-md-4" action="/login" method="post">
              
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input required type="email" name="customeremail" class="form-control" />
                  <label class="form-label" for="customeremail">Your Email </label>
                </div>
              </div>
        
        
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input required type="password" name="customerpassword" class="form-control" />
                  <label class="form-label" for="customerpassword">Password</label>
                  <br>
                  <a href="">Forgot password</a>
                </div>
              </div>
        
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input required type="password" name="customerOTP" class="form-control" />
                  <label class="form-label" for="customerOTP">Enter OTP</label>
                </div>
              </div>
            
        
              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-primary btn-lg">Sign-in</button>
              </div>
        
            </form>

            </div>

           <div class="col-lg-6">
 
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register here</p>
       
            <form class="mx-1 mx-md-4" action="/adduser" method="post">
              
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input  type="text" name="username" class="form-control" required />
                  <label class="form-label" for="username">Your Name</label>
                </div>
              </div>
        
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="email" name="useremail" class="form-control" required/>
                  <label class="form-label" for="useremail">Your Email</label>
                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="password" name="usermobile" class="form-control" required/>
                  <label class="form-label" for="usermobile">Mobile Number</label>
                </div>
              </div>
        
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="password" name="userpassword" class="form-control" required />
                  <label class="form-label" for="userpassword">Password</label>
                </div>
              </div>
        
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="password" name="userrepeatpassword" class="form-control" required/>
                  <label class="form-label" for="userrepeatpassword">Repeat your password</label>
                </div>
              </div>
        
              <div class="form-check d-flex justify-content-center mb-5">
                <div>
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" required>
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                </div>  
              </div>
        
              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
              </div>
               
              

               
            </form>

            </div>

        </div>
    </div> -->

    <!-- Sign up Section Begin -->


    <!-- Sign up Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <!-- <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <!-- <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul> -->
                    </div>
                </div>
                <!-- <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                         All rights reserved | This website is made by Vishal Varghese Jans <i class="fa fa-heart-o"
                         aria-hidden="true"></i>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>